<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>73974867281-6s31ggr3njo4p3d2e77sqgdobvgq1s72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73974867281-6s31ggr3njo4p3d2e77sqgdobvgq1s72</string>
	<key>API_KEY</key>
	<string>AIzaSyDN1PL2nfPE6UbxUrQka8fYV6nnlxfB_Jk</string>
	<key>GCM_SENDER_ID</key>
	<string>73974867281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intouch</string>
	<key>PROJECT_ID</key>
	<string>in-touch-134e3</string>
	<key>STORAGE_BUCKET</key>
	<string>in-touch-134e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73974867281:ios:3687a06cad563999</string>
	<key>DATABASE_URL</key>
	<string>https://in-touch-134e3.firebaseio.com</string>
</dict>
</plist>